<!DOCTYPE html>
<html><!-- Root element of the application -->
<head>
    <!-- Clean URLs without the # symbol -->
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Memo</title>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="MemoApp">


    
    
      {% block content %}{% endblock %}
    
    <script src="vendor/angular/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/shared/signup/pwMatchDirective.js"></script>

</body>
</html>